<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/lib/Bootstrap/bootstrap.min.css" />
    <title>Not found</title>
</head>
<body>
    <h1 class="ms-4 mt-5 mb-5">Page not found</h1>

    <a class="ms-5 px-5" href="/">Tabla periódica</a>
    
</body>
</html>